img {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 33.33333%;
  padding: 14px;
  box-sizing: border-box;
}

.card-item {
  box-shadow: 0px 2px 15px 0.5px #ddd;
}

.card-body {
  padding: 14px;